.herosection{
   /*  background-image: url('../../../assets/myimage.jpg'); 
    background-repeat: no-repeat;*/
    background-size:cover;
    height: 100vh;
}
.myimage-wrapper{
    position: absolute;
    background-color: aliceblue;
    width:430px;
    height: 500px;
}
.myimage{
    border-radius: 360px;
    position: relative;
    height: 300px;
    width:300px;
    object-fit: cover;
}
@media only screen and (max-width:620px){
    .myimage{  
        margin: 0px;

         width:80vw;
         height: 300px;
     }
}
